#masthead{
	background: $color__accent;
	color: white;
	padding-top:50px;

	a{
		color: white;
	}

	.site-branding{
		margin: 20px;
	}

	.site-title{
		@include font-size( 2.2 );
		font-weight: 300;
		line-height: 1.2;

		a{
			text-decoration: none;

			&:hover{
				opacity: .7;
			}
		}
	}

	.site-description{
		@include font-size( 1.2 );
		font-weight: 300;
		opacity: .5;
	}
}

/**
* Tablet adjustment
*/
@media screen and ( min-width: $size__breakpoint-tablet ){
	#masthead{
		.site-branding{
			margin: 70px 20px;
		}

		.site-title{
			@include font-size( 5.4 );
		}

		.site-description{
			@include font-size( 1.6 );
		}
	}
}

/**
* Desktop adjustment
*/
@media screen and ( min-width: $size__breakpoint-desktop ){
	#masthead{
		.site-branding{
			@include wrap( 940px );
		}
	}
}