#masthead{
	background: $color__accent;
	color: white;
	padding-top:20px;

	a{
		color: white;
	}

	.site-branding{
		margin: 64px 15px;
	}

	.site-title{
		@include font-size( 2 );

		a{
			text-decoration: none;
		}
	}

	.site-description{
		@include font-size( 1.4 );
		font-weight: lighter;
	}
}

/**
* Tablet adjustment
*/
@media screen and ( min-width: $size__breakpoint-tablet ){
	#masthead{
		.site-branding{
			@include wrap( 660px );
		}
	}
}

/**
* Desktop adjustment
*/
@media screen and ( min-width: $size__breakpoint-desktop ){
	#masthead{
		.site-branding{
			@include wrap( 940px );
		}
	}
}