body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1.3);
	font-weight: 400;
	line-height: $font__line-height-body;
}

@import "genericons";

@import "headings";

@import "copy";