@-webkit-keyframes ripple-animation {
  0% {
    -webkit-transform: scale(.01);
            transform: scale(.01);
  }

  100% {
    -webkit-transform: scale(5);
            transform: scale(5);
  }    
}

@keyframes ripple-animation {
  0% {
    -webkit-transform: scale(.01);
            transform: scale(.01);
  }

  100% {
    -webkit-transform: scale(5);
            transform: scale(5);
  }     
}

.top-nav-toggle-button-ripple{
  padding: 20px;
  margin: -13px 0 0 -10px;
  z-index: 50 !important; // this should be lower than drawer
}

.drawer-toggle-button-ripple{
  padding: 20px;
  margin: -13px 0 0 -10px;
}