$color__accent: #607D8B;
$color__accent-darker: #455A64;

$color__background-body: #FAFAFA;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__accent;
$color__link-visited: $color__link;
$color__link-hover: $color__link;
$color__text-main: #666666;
$color__text-date: #979797;
$color__text-navigation: #979797;

$color__border: #DFDFDF;
$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;