.post-navigation{
	padding: 10px 0;

	.nav{
		display: block;

		&:last-child{
			border-top: 1px solid $color__border;
		}

		&:first-child{
			border: none;
		}

		a{
			text-decoration: none;
			display: block;
			padding: 15px 0;
		}

		.label{
			display: block;
			@include font-size( 1.6 );
			font-weight: lighter;
		}

		.title{
			display: block;
			color: $color__text_date;
		}
	}
}