#top-navigation{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 21px 20px 19px;
	z-index: 50;

	.genericon{
		color: white;
		font-size: 16px;
		width: 16px;
		height: 16px;

		&:hover{
			opacity: .7;
		}

		.label{
			display: none;
		}
	}

	.site-title-nav{
		display: none;
		font-weight: lighter;
		@include font-size( 1.6 );
		line-height: 1;
		margin-right: 15px;
		margin-left: 15px;

		a{
			color: white;
			text-decoration: none;

			&:hover{
				opacity: .7;
			}			
		}
	}
}

body{
	&.scrolling{
		#top-navigation{
			background: $color__accent_darker;
			box-shadow: 0 1px 4px #555;

			.site-title-nav{
				display: inline-block;
			}
		}
	}
	
	&.drawer-expanded{
		#top-navigation{
			// display: none;			
		}
	}

	&.admin-bar{
		#top-navigation{
			top: 46px;
		}

		&.scrolling{
			#top-navigation{
				top: 0;
			}
		}
	}
}

.post-navigation{
	padding: 10px 0;

	.nav{
		display: block;

		&:last-child{
			border-top: 1px solid $color__border;
		}

		&:first-child{
			border: none;
		}

		a{
			text-decoration: none;
			display: block;
			padding: 15px 0;

			&:hover{
				opacity: .7;
			}			
		}

		.label{
			display: block;
			@include font-size( 1.6 );
		}

		.title{
			display: block;
			color: $color__text_date;
		}
	}
}

/**
* Admin bar large mobile screen adjustment
*/
@media screen and ( min-width: 601px ){
	body{
		&.admin-bar{
			&.scrolling{
				#top-navigation{
					top: 46px;
				}
			}
		}
	}
}

/**
* Admin bar tablet screen adjustment
*/
@media screen and ( min-width: 783px ){
	body{
		&.admin-bar{
			#top-navigation{
				top: 32px;
			}				

			&.scrolling{
				#top-navigation{
					top: 32px;
				}
			}
		}
	}
}

/**
* Tablet adjustment
*/
@media screen and ( min-width: $size__breakpoint-tablet ){
	#top-navigation{
		padding: 20px;

		.genericon{
			font-size: 18px;
			margin: 3px 0;
		}

		.site-title-nav{
			@include font-size( 2.4 );
		}
	}

	.post-navigation{
		.nav{
			display: inline-block;
			width: 49%;
			padding-left: 20px;
			vertical-align: top;

			a{
				padding: 35px 0;
			}

			.label{
				@include font-size( 1.8 );
			}

			.title{
				@include font-size( 1.5 );
			}

			&:last-child{				
				border: none;

				&.nav-next{
					text-align: right;
					padding-right: 20px;
				}
			}
		}
	}	
}