#top-navigation{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 15px 16px 15px 15px;
	z-index: 50;

	.genericon{
		font-size: 20px;
		color: white;

		.label{
			display: none;
		}

		&.genericon-search{
			float: right;
		}
	}
}

body{
	&.scrolling{
		#top-navigation{
			background: $color__accent_darker;
			box-shadow: 0 1px 2px $color__accent;
		}		
	}
	
	&.drawer-expanded,
	&.search-form-expanded{
		#top-navigation{
			display: none;			
		}
	}
}

.post-navigation{
	padding: 10px 0;

	.nav{
		display: block;

		&:last-child{
			border-top: 1px solid $color__border;
		}

		&:first-child{
			border: none;
		}

		a{
			text-decoration: none;
			display: block;
			padding: 15px 0;
		}

		.label{
			display: block;
			@include font-size( 1.6 );
			font-weight: lighter;
		}

		.title{
			display: block;
			color: $color__text_date;
		}
	}
}