#main{
	margin: 15px;
}

.sticky {
	display: block;
}

.hentry-separator{
	color: $color__accent;
	font-weight: bold;
	@include font-size( 1.2 );
	text-transform: uppercase;
	margin: 35px 0 13px;

	.entry-date{
		position: relative;
		top: auto;
		left: auto;
		width: auto;
		text-align: left;
	}

	a{
		text-decoration: none;
	}
}

.hentry {
	margin: 0;
	background: white;
	box-shadow: 0 1px 2px rgba( 151, 151, 151, .58 );
	border-bottom: 1px solid $color__border;
	padding: 25px 15px 25px 75px;
	position: relative;

	&.has-post-thumbnail{
		padding-right: 80px;

		.entry-thumbnail{
			position: absolute;
			top: 25px;
			right: 15px;
			width: 50px;
			background: white;
			padding: 2px 2px 0;
			line-height: 1;
			box-shadow: 0 0 1px darken( $color__border, 20% );
		}
	}
}

.entry-date{
	position: absolute;
	top: 14px;
	left: 5px;
	width: 55px;
	text-align: center;
	display: block;

	a{
		color: $color__text-date;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: bold;
		@include font-size( 1.1 );
	}
}

.entry-featured-image{
	display: block;
	margin: -25px -15px 15px -15px;

	img{
		width: 100%;
	}
}

.entry-title{
	line-height: 1.3;
	@include font-size( 1.7 );
	font-weight: lighter;
	margin-bottom: 10px;

	a{
		text-decoration: none;
	}
}

.entry-content{
	overflow: hidden;
	line-height: 1.6;
}

.page,
.single{
	.hentry{
		padding: 25px 15px;

		&.post-thumbnail{
			padding: 25px 15px;
		}
	}

	.entry-title{
		@include font-size( 2.2 );
		font-weight: bold;
	}

	.entry-footer{
		display: block;
		margin:0 -15px -25px;
	}

	.cat-links,
	.tags-links{
		display: block;
		border-top: 1px solid $color__border;
		position: relative;
		padding: 15px 15px 15px 100px;

		.label{
			position: absolute;
			top: 17px;
			left: 0;
			width: 100px;
			text-align: center;
			text-transform: uppercase;
			@include font-size( 1.1 );
			font-weight: bold;
			color: $color__text_date;
		}

		a{
			text-decoration: none;
		}
	}
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.paging-navigation{
	text-align: center;
	padding: 25px;

	&.newer{
		padding-top: 10px;

		a:before{
			@include genericon;
			content: '\f432';
			display: block;
			margin: 0 auto;
		}
	}

	&.older{
		padding-bottom: 10px;

		a:after{
			@include genericon;
			content: '\f431';
			display: block;
			margin: 0 auto;
		}
	}

	a{
		color: $color__text-navigation;
		text-decoration: none;
		font-weight: lighter;
		@include font-size( 1.6 );
	}
}


/**
* Tablet adjustment
*/
@media screen and ( min-width: $size__breakpoint-tablet ){
	#main{
		@include wrap( 660px );
	}

	.page,
	.single{
		.hentry{
			padding: 25px 60px;
		}

		.entry-featured-image{
			margin: -25px -60px 25px;
		}

		.entry-footer{
			margin:0 -60px -25px;
		}

		.cat-links,
		.tags-links{
			padding: 15px 60px 15px 145px;

			.label{
				left: 45px;
			}
		}
	}

	.post-navigation{
		.nav{
			display: inline-block;
			width: 49%;

			&:last-child{				
				border: none;

				&.nav-next{
					text-align: right;
				}
			}
		}
	}

}



/**
* Desktop adjustment
*/
@media screen and ( min-width: $size__breakpoint-desktop ){
	#main{
		@include wrap( 940px );
	}
}