#main{
	margin: 15px;
}

.sticky {
	display: block;
}

.hentry-separator{
	color: $color__accent;
	font-weight: bold;
	@include font-size( 1.2 );
	text-transform: uppercase;
	margin: 35px 0 13px;
}

.hentry {
	margin: 0;
	background: white;
	box-shadow: 0 1px 2px rgba( 151, 151, 151, .58 );
	border-bottom: 1px solid $color__border;
	padding: 25px 15px 25px 75px;
	position: relative;

	&.has-post-thumbnail{
		padding-right: 80px;

		.entry-thumbnail{
			position: absolute;
			top: 25px;
			right: 15px;
			width: 50px;
			background: white;
			padding: 2px 2px 0;
			line-height: 1;
			box-shadow: 0 0 1px darken( $color__border, 20% );
		}
	}
}

.entry-date{
	position: absolute;
	top: 14px;
	left: 5px;
	width: 55px;
	text-align: center;
	display: block;

	a{
		color: $color__text-date;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: bold;
		@include font-size( 1.1 );
	}
}

.entry-title{
	line-height: 1.3;
	@include font-size( 1.7 );
	font-weight: lighter;
	margin-bottom: 10px;

	a{
		text-decoration: none;
	}
}

.entry-content{
	overflow: hidden;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.paging-navigation{
	text-align: center;
	padding: 25px;

	&.newer{
		padding-top: 10px;

		a:before{
			@include genericon;
			content: '\f432';
			display: block;
			margin: 0 auto;
		}
	}

	&.older{
		padding-bottom: 10px;

		a:after{
			@include genericon;
			content: '\f431';
			display: block;
			margin: 0 auto;
		}
	}

	a{
		color: $color__text-navigation;
		text-decoration: none;
		font-weight: lighter;
		@include font-size( 1.6 );
	}
}